<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Satellite Map</h4>
        </div>
        <div class=" card-body"><div class=" map" id="satelliteMap"></div></div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card card-plain">
        <div class=" card-header"><h4 class=" card-title">Regular Map</h4></div>
        <div class=" card-body"><div class=" map" id="regularMap"></div></div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Custom Skin &amp; Settings Map</h4>
        </div>
        <div class=" card-body">
          <div class=" map" id="customSkinMap"></div>
        </div>
      </div>
    </div>
  </div>
</div>
