<div class="full-page register-page">
  <div class=" content">
    <div class=" container">
      <div class=" row">
        <div class=" col-md-5 ml-auto">
          <div class=" info-area info-horizontal mt-5">
            <div class=" icon icon-warning">
              <i class=" tim-icons icon-wifi"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">Marketing</h3>
              <p class=" description">
                We've created the marketing campaign of the website. It was a
                very interesting collaboration.
              </p>
            </div>
          </div>
          <div class=" info-area info-horizontal">
            <div class=" icon icon-primary">
              <i class=" tim-icons icon-triangle-right-17"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">Fully Coded in HTML5</h3>
              <p class=" description">
                We've developed the website with HTML5 and CSS3. The client has
                access to the code using GitHub.
              </p>
            </div>
          </div>
          <div class=" info-area info-horizontal">
            <div class=" icon icon-info">
              <i class=" tim-icons icon-trophy"> </i>
            </div>
            <div class=" description">
              <h3 class=" info-title">Built Audience</h3>
              <p class=" description">
                There is also a Fully Customizable CMS Admin Dashboard for this
                product.
              </p>
            </div>
          </div>
        </div>
        <div class=" col-md-7 mr-auto">
          <div class=" card card-register card-white">
            <div class=" card-header">
              <img
                alt="Card image"
                class=" card-img"
                src="assets/img/card-primary.png"
              />

              <h4 class=" card-title">Register</h4>
            </div>
            <div class=" card-body">
              <form class=" form">
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-single-02"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Full Name"
                    type="text"
                    (blur)="focus2 = false"
                    (focus)="focus2 = true"
                  />
                </div>
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-email-85"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Email"
                    type="text"
                    (blur)="focus = false"
                    (focus)="focus = true"
                  />
                </div>
                <div
                  class=" input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class=" input-group-prepend">
                    <div class=" input-group-text">
                      <i class=" tim-icons icon-lock-circle"> </i>
                    </div>
                  </div>
                  <input
                    class=" form-control"
                    placeholder="Password"
                    type="text"
                    (blur)="focus1 = false"
                    (focus)="focus1 = true"
                  />
                </div>
                <div class=" form-check text-left">
                  <label class=" form-check-label">
                    <input class=" form-check-input" type="checkbox" />

                    <span class=" form-check-sign"> </span> I agree to the
                    <a href="javascript:void(0)"> terms and conditions </a> .
                  </label>
                </div>
              </form>
            </div>
            <div class=" card-footer">
              <a
                class=" btn btn-primary btn-round btn-lg"
                href="javascript:void(0)"
              >
                Get Started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
