<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Navigation Pills</h5>
          <h3 class=" card-title">Horizontal Tabs</h3>
        </div>
        <div class=" card-body">
          <tabset class="nav-pills-danger" type="pills">
            <tab heading="Profile">
              Collaboratively administrate empowered markets via plug-and-play
              networks. Dynamically procrastinate B2C users after installed base
              benefits. <br />

              <br />

              Dramatically visualize customer directed convergence without
              revolutionary ROI.
            </tab>
            <tab heading="Settings">
              Efficiently unleash cross-media information without cross-media
              value. Quickly maximize timely deliverables for real-time schemas.
              <br />

              <br />

              Dramatically maintain clicks-and-mortar solutions without
              functional solutions.
            </tab>
            <tab heading="Options">
              Completely synergize resource taxing relationships via premier
              niche markets. Professionally cultivate one-to-one customer
              service with robust ideas. <br />

              <br />

              Dynamically innovate resource-leveling customer service for state
              of the art customer service.
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Navigation Pills</h5>
          <h3 class=" card-title">Vertical Tabs</h3>
        </div>
        <div class=" card-body">
          <tabset
            class="nav-pills-danger vertical-pills"
            type="pills"
            [vertical]="true"
          >
            <tab heading="Profile">
              Collaboratively administrate empowered markets via plug-and-play
              networks. Dynamically procrastinate B2C users after installed base
              benefits. <br />

              <br />

              Dramatically visualize customer directed convergence without
              revolutionary ROI.
            </tab>
            <tab heading="Settings">
              Efficiently unleash cross-media information without cross-media
              value. Quickly maximize timely deliverables for real-time schemas.
              <br />

              <br />

              Dramatically maintain clicks-and-mortar solutions without
              functional solutions.
            </tab>
            <tab heading="Options">
              Completely synergize resource taxing relationships via premier
              niche markets. Professionally cultivate one-to-one customer
              service with robust ideas. <br />

              <br />

              Dynamically innovate resource-leveling customer service for state
              of the art customer service.
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Collpase example</h5>
          <h3 class=" card-title">Collapsible Accordion</h3>
        </div>
        <div
          aria-multiselectable="true"
          class=" card-collapse"
          id="accordion"
          role="tablist"
        >
          <div class=" card card-plain">
            <div class=" card-header" id="headingOne">
              <a
                aria-controls="collapseOne"
                data-parent="#accordion"
                [attr.aria-expanded]="!collapseOne"
                data-toggle="collapse"
                (click)="collapseOne = !collapseOne"
                id="collapseOne"
                href="#pablo"
              >
                Collapsible Group Item #1
                <i class=" tim-icons icon-minimal-down"> </i>
              </a>
            </div>
            <div
              aria-labelledby="headingOne"
              class=" show"
              [isAnimated]="true"
              [collapse]="collapseOne"
              id="collapseOne"
              role="tabpanel"
            >
              <div class=" card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class=" card card-plain">
            <div class=" card-header" id="headingTwo">
              <a
                aria-controls="collapseTwo"
                class=" collapsed"
                data-parent="#accordion"
                [attr.aria-expanded]="!collapseTwo"
                (click)="collapseTwo = !collapseTwo"
                id="collapseTwo"
                href="#pablo"
                data-toggle="collapse"
              >
                Collapsible Group Item #2
                <i class=" tim-icons icon-minimal-down"> </i>
              </a>
            </div>
            <div
              aria-labelledby="headingTwo"
              [isAnimated]="true"
              [collapse]="collapseTwo"
              id="collapseTwo"
              role="tabpanel"
            >
              <div class=" card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class=" card card-plain">
            <div class=" card-header" id="headingThree">
              <a
                aria-controls="collapseThree"
                class=" collapsed"
                data-parent="#accordion"
                [attr.aria-expanded]="!collapseThree"
                (click)="collapseThree = !collapseThree"
                id="collapseThree"
                href="#pablo"
                data-toggle="collapse"
              >
                Collapsible Group Item #3
                <i class=" tim-icons icon-minimal-down"> </i>
              </a>
            </div>
            <div
              aria-labelledby="headingThree"
              [isAnimated]="true"
              [collapse]="collapseThree"
              id="collapseThree"
              role="tabpanel"
            >
              <div class=" card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Navigation Pills</h5>
          <h3 class=" card-title">Vertical Tabs With Icons</h3>
        </div>
        <div class=" card-body">
          <tabset
            class="nav-pills-danger nav-pills-icons vertical-pills"
            type="pills"
            [vertical]="true"
          >
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> Profile
              </ng-template>
              <p>
                Collaboratively administrate empowered markets via plug-and-play
                networks. Dynamically procrastinate B2C users after installed
                base benefits. <br />

                <br />

                Dramatically visualize customer directed convergence without
                revolutionary ROI.
              </p>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-settings-gear-63"> </i> Settings
              </ng-template>
              <p>
                Completely synergize resource taxing relationships via premier
                niche markets. Professionally cultivate one-to-one customer
                service with robust ideas. <br />

                <br />

                Dynamically innovate resource-leveling customer service for
                state of the art customer service.
              </p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-md-8 ml-auto mr-auto">
      <div class=" card card-subcategories card-plain">
        <div class=" card-header">
          <h4 class=" card-title text-center mt-5">Page Subcategories</h4>
          <br />
        </div>
        <div class=" card-body">
          <tabset
            class="nav-pills-danger nav-pills-icons justify-content-center"
            type="pills"
          >
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-spaceship"> </i> Profile
              </ng-template>
              <p>
                Collaboratively administrate empowered markets via plug-and-play
                networks. Dynamically procrastinate B2C users after installed
                base benefits. <br />

                <br />

                Dramatically visualize customer directed convergence without
                revolutionary ROI.
              </p>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-settings-gear-63"> </i> Settings
              </ng-template>
              <p>
                Completely synergize resource taxing relationships via premier
                niche markets. Professionally cultivate one-to-one customer
                service with robust ideas. <br />

                <br />

                Dynamically innovate resource-leveling customer service for
                state of the art customer service.
              </p>
            </tab>
            <tab>
              <ng-template tabHeading>
                <i class="tim-icons icon-bag-16"> </i> Options
              </ng-template>
              <p>
                Efficiently unleash cross-media information without cross-media
                value. Quickly maximize timely deliverables for real-time
                schemas. <br />

                <br />

                Dramatically maintain clicks-and-mortar solutions without
                functional solutions.
              </p>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
