<div class=" content">
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" tools float-right">
            <div class=" dropdown" dropdown>
              <button
                class=" btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                type="button"
              >
                <i class=" tim-icons icon-settings-gear-63"> </i>
              </button>
              <div class=" dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class=" dropdown-item" href="#pablo"> Action </a>
                <a class=" dropdown-item" href="#pablo"> Another action </a>
                <a class=" dropdown-item" href="#pablo"> Something else </a>
                <a class=" dropdown-item text-danger" href="#pablo">
                  Remove Data
                </a>
              </div>
            </div>
          </div>
          <h5 class=" card-title">User List</h5>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table *ngIf="isLoadingData" class=" table">
              <thead class=" text-primary">
                <tr>
                  <th class=" text-center">#</th>
                  <th class=" text-center">Name</th>
                  <th class=" text-center">Email</th>
                  <th class=" text-center">Add/Remove to White List</th>
                  <th class=" text-center" *ngIf="isAdmin">Set/Remove Admin</th>
                  <th class=" text-center" *ngIf="isAdmin">Balance</th>
                  <th class=" text-center" *ngIf="isAdmin">Send Token</th>
                  <th class=" text-center" *ngIf="isAdmin">Get Token</th>
                </tr>
              </thead>
              <tbody>
                <td colspan="8">
                  <div class=" loading-title">Lading Data. Please Wait...</div>
                </td>
              </tbody>
            </table>
            <table *ngIf="!isLoadingData" class=" table">
              <thead class=" text-primary">
                <tr>
                  <th class=" text-center">#</th>
                  <th class=" text-center">Name</th>
                  <th class=" text-center">Email</th>
                  <th class=" text-center">Add/Remove to White List</th>
                  <th class=" text-center" *ngIf="isAdmin">Set/Remove Admin</th>
                  <th class=" text-center" *ngIf="isAdmin">Balance</th>
                  <th class=" text-center" *ngIf="isAdmin">Send Token</th>
                  <th class=" text-center" *ngIf="isAdmin">Get Token</th>
                </tr>
              </thead>
              <tbody  >
                <tr *ngFor="let user of source; let i = index">
                  <td class=" text-center">{{i + 1}}</td>
                  <td class=" text-center">{{user.first_name}} {{user.last_name}}</td>
                  <td class=" text-center">{{user.email}}</td>
                  <td class=" text-center" *ngIf="!user.isWhiteListed"><a class=" btn btn-primary btn-sm"  (click)="addRemoveToWhiteLists(user, 'true')">ADD</a></td>
                  <td class=" text-center" *ngIf="!!user.isWhiteListed"><a *ngIf="isAdmin || user.whiteListBy === myHash" class=" btn btn-primary btn-sm"  (click)="addRemoveToWhiteLists(user, 'false')">REMOVE</a></td>
                  <td class=" text-center" *ngIf="isAdmin && !user.isAdmin"><a class=" btn btn-primary btn-sm"  (click)="setRemoveAdmin(user, 'true')">SET</a></td>
                  <td class=" text-center" *ngIf="isAdmin && !!user.isAdmin"><a class=" btn btn-primary btn-sm"  (click)="setRemoveAdmin(user, 'false')">REMOVE</a></td>
                  <td class=" text-center" *ngIf="isAdmin">{{user.balanceString}}</td>
                  <td class=" text-center" *ngIf="isAdmin">
                    <div class="input-container">
                      <input id={{user.sendId}} class='amount-input'/>
                    </div>
                    <a class=" btn btn-primary btn-sm user-action-button" (click)="sendToken(user)">SEND</a>
                  </td>
                  <td class=" text-center" *ngIf="isAdmin">
                    <div class="input-container">
                      <input id={{user.getId}} class='amount-input'/>
                      <i class=" icon-coins tim-icons max-button" (click)="setMaxAmount(user)"></i>
                    </div>
                    <a class=" btn btn-primary btn-sm user-action-button" (click)="getToken(user)">GET</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
